%h1 カメラ一覧

- if flash.notice
  .alert.alert-info= flash[:notice]

.table-responsive
  %table.table.table-striped
    %thead
      %tr
        %th レンズ名
        %th 編集
        %th 削除
    %tbody
      - @lenses.each do |lens|
        %tr
          %td= lens.name
          %td= link_to '編集', edit_admin_lens_path(lens), class: 'btn btn-secondary btn-sm'
          %td= button_to '削除', admin_lens_path(lens), method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'btn btn-danger btn-sm'

= link_to '新規作成', new_admin_lens_path, class: 'btn btn-primary mt-3'
