= form_with(model: image, url: image.new_record? ? admin_images_path : admin_image_path(image), local: true, multipart: true) do |form|
  - if image.errors.any?
    .alert.alert-danger
      %ul
        - image.errors.full_messages.each do |message|
          %li= message
  - unless image.file.attached?
    .row.mb-3
      .col-md-3.col-form-label.fw-bold Image
      .col-md-9= form.file_field :file, class: 'form-control'
  .row.mb-3
    .col-md-3.col-form-label.fw-bold title
    .col-md-9= form.text_field :title, class: 'form-control'
  .row.mb-3
    .col-md-3.col-form-label.fw-bold caption
    .col-md-9= form.text_area :caption, class: 'form-control'
  .row.mb-3
    .col-md-3.col-form-label.fw-bold taken_at
    .col-md-9= form.datetime_field :taken_at, class: 'form-control'
  .row.mb-3
    .col-md-3
      = form.label :camera_id, 'カメラ', class: 'col-form-label fw-bold'
    .col-md-9= form.collection_select :camera_id, cameras, :id, :name, { include_blank: false }, class: 'form-control'
  .row.mb-3
    .col-md-3
      = form.label :lens_id, 'レンズ', class: 'col-form-label fw-bold'
    .col-md-9= form.collection_select :lens_id, lenses, :id, :name, { include_blank: false }, class: 'form-control'
  .row.mb-3
    .col-md-3.col-form-label.fw-bold row_order
    .col-md-9= form.number_field :row_order, class: 'form-control'
  %h3 カテゴリ
  - categories.each do |category|
    .form-check
      = form.check_box :category_ids, { multiple: true, checked: image.categories.include?(category) }, category.id, nil
      = form.label :category_ids, category.name, class: "form-check-label"

  .row.mb-3
    .col-md-3.col-form-label.fw-bold is_published
    .col-md-9
      .form-check
        = form.check_box :is_published, class: 'form-check-input'
        = form.label :is_published, '公開する', class: 'form-check-label'
  .row
    .col
      = form.submit '保存', class: 'btn btn-primary d-block w-100'
