%h1 image
- if @image.file.attached?
  %p
    %strong Image:
    = image_tag @image.file, width: '300'
- else
  %p No image attached.
.row.py-1
  .col-md-3.fw-bold Title
  .col-md-9= @image.title
.row.py-1
  .col-md-3.fw-bold Caption
  .col-md-9= @image.caption
.row.py-1
  .col-md-3.fw-bold Taken at
  .col-md-9= @image.taken_at
.row.py-1
  .col-md-3.fw-bold Camera
  .col-md-9= @image.camera_id
.row.py-1
  .col-md-3.fw-bold Lens
  .col-md-9= @image.lens_id
.row.py-1
  .col-md-3.fw-bold Is published
  .col-md-9= @image.is_published

= link_to '編集', edit_admin_image_path(@image)
\|
= link_to '戻る', admin_images_path
